In [6]:
pip install pandas numpy

Requirement already satisfied: pandas in c:\users\madhu\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\madhu\appdata\local\programs\python\python314\lib\site-packages (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\madhu\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\madhu\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\madhu\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\madhu\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv("clinic_visits.csv")

In [5]:
print(df)

     visit_id  patient_id  age gender                     visit_date  \
0        1001         602   67      M  2024-01-28T00:00:00.000000000
1        1002         592   42      M  2024-03-25T00:00:00.000000000
2        1003         514   41      F  2024-02-18T00:00:00.000000000
3        1004         606   30      M  2024-03-11T00:00:00.000000000
4        1005         571   77      M  2024-03-21T00:00:00.000000000
..        ...         ...  ...    ...                            ...
295      1296         636   40      F  2024-02-15T00:00:00.000000000
296      1297         542   70      M  2024-01-29T00:00:00.000000000
297      1298         538   54      F  2024-03-02T00:00:00.000000000
298      1299         525   34      M  2024-03-02T00:00:00.000000000
299      1300         598   18      M  2024-02-26T00:00:00.000000000

      visit_type  wait_time_min  billing_amount     diagnosis provider_id  \
0      Follow-up           19.0          263.88       Healthy        P103
1        Checkup           14.0          146.21           NaN        P103
2      Follow-up           22.0             NaN  Hypertension        P103
3        Checkup            3.0          327.86      Diabetes        P103
4        Checkup            NaN          161.36  Hypertension        P101
..           ...            ...             ...           ...         ...
295    Follow-up           46.0          161.64           Flu        P103
296    Follow-up           23.0             NaN        Asthma        P105
297  New Patient            9.0          294.74       Healthy        P105
298  New Patient            NaN          303.97  Hypertension        P101
299        Acute           40.0          109.56      Diabetes        P104

    insurance_type  is_return_visit  systolic_bp  diastolic_bp  pain_score
0          Private             True        129.0            88         7.0
1         Medicare            False        126.0            78         6.0
2         Medicaid            False        147.0            94         6.0
3          Private             True        117.0            99         7.0
4          Private            False        131.0            60        10.0
..             ...              ...          ...           ...         ...
295        Private             True        119.0            94         3.0
296       Medicaid             True        122.0            79         7.0
297        Private             True        128.0            80         9.0
298        Private             True        125.0            81         9.0
299       Medicare            False        143.0            73         2.0

[300 rows x 15 columns]

In [6]:
df.head()

,visit_id,patient_id,age,gender,visit_date,visit_type,wait_time_min,billing_amount,diagnosis,provider_id,insurance_type,is_return_visit,systolic_bp,diastolic_bp,pain_score
0,1001,602,67,M,2024-01-28T00:00:00.000000000,Follow-up,19.0,263.88,Healthy,P103,Private,True,129.0,88,7.0
1,1002,592,42,M,2024-03-25T00:00:00.000000000,Checkup,14.0,146.21,NaN,P103,Medicare,False,126.0,78,6.0
2,1003,514,41,F,2024-02-18T00:00:00.000000000,Follow-up,22.0,NaN,Hypertension,P103,Medicaid,False,147.0,94,6.0
3,1004,606,30,M,2024-03-11T00:00:00.000000000,Checkup,3.0,327.86,Diabetes,P103,Private,True,117.0,99,7.0
4,1005,571,77,M,2024-03-21T00:00:00.000000000,Checkup,NaN,161.36,Hypertension,P101,Private,False,131.0,60,10.0

In [7]:
df.tail()

,visit_id,patient_id,age,gender,visit_date,visit_type,wait_time_min,billing_amount,diagnosis,provider_id,insurance_type,is_return_visit,systolic_bp,diastolic_bp,pain_score
295,1296,636,40,F,2024-02-15T00:00:00.000000000,Follow-up,46.0,161.64,Flu,P103,Private,True,119.0,94,3.0
296,1297,542,70,M,2024-01-29T00:00:00.000000000,Follow-up,23.0,NaN,Asthma,P105,Medicaid,True,122.0,79,7.0
297,1298,538,54,F,2024-03-02T00:00:00.000000000,New Patient,9.0,294.74,Healthy,P105,Private,True,128.0,80,9.0
298,1299,525,34,M,2024-03-02T00:00:00.000000000,New Patient,NaN,303.97,Hypertension,P101,Private,True,125.0,81,9.0
299,1300,598,18,M,2024-02-26T00:00:00.000000000,Acute,40.0,109.56,Diabetes,P104,Medicare,False,143.0,73,2.0