In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("student_records_dirty.csv")
print(df)

     student_id first_name last_name  age             major  \
0         17270     Taylor      Chen   23              Bio
1         10860     Olivia  Martinez   73  Computer Science
2         15390      Priya    Garcia   52               bio
3         15191      Priya  Anderson   61                CS
4         15734       Noah    Wilson   36          Comp Sci
..          ...        ...       ...  ...               ...
350       14931        Mia     Davis   52             psych
351       18445     Jordan  Anderson   79           Biology
352       13763       Luis     Smith   34          Comp Sci
353       17629      Ethan     Smith   73        Psychology
354       17777      Jamie  Anderson   83           Biology

       enrollment_date course_grade  gpa  tuition_paid
0           2024-02-28           12  3.8      17548.10
1     January 30, 2024           12  2.7      13129.13
2           2024-02-10           95  1.9      19051.36
3           2024-02-08            3  2.0      17242.61
4    February 08, 2024          -20  3.2           NaN
..                 ...          ...  ...           ...
350         2024-02-15            3  NaN      15961.60
351         2024-03-05           95  3.8      16868.60
352     April 06, 2024      ninety   2.0      20000.00
353         2024-02-18           85  3.2      24309.50
354         2024-03-10          -20  1.9           NaN

[355 rows x 9 columns]